.App {
  text-align: center;
}

body {
  background-color: rgb(16, 0, 48);
}

.title {
  background-color: white;
  display: block;
  width: auto;
}

.header {
  background-color: rgb(16, 0, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(96, 240, 248);
  margin-top: 2rem;
}

.link {
  color: #b318f0;
}

li {
  margin-top: 30px;
  list-style-type: none;
  border: 1px solid lightblue;
  padding: 0.5rem;
  border-bottom: 3px solid lightblue;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.inactivelist {
  cursor: default;
  color: lightgray;
  border: none;
}

.currentword {
  border: 3px solid #92f83e;
}

.pairs {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.nxtbtn {
  background: rgb(240, 80, 248);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border-color: rgb(240, 80, 248);
  width: 100px;
  color: black;
  font-weight: 500;
  line-height: 1.75;
  font-family: Gotham, helvetica, arial, sans-serif;
  margin-top: 2rem;
  outline: none;
  margin-bottom: 2rem;
  box-sizing: border-box;
  cursor: pointer;
}

.inactivebtn {
  background: lightgray;
  border-color: lightgray;
  width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin-top: 2rem;
  outline: none;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.75;
  font-family: Gotham, helvetica, arial, sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .pairs {
    width: 100%;
    justify-content: center;
  }

  li {
    font-size: calc(14px + 2vmin);
  }

  .nxtbtn,
  .inactivebtn {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 480px) {
  .pairs {
    width: 65%;
  }
}

@media screen and (min-width: 680px) {
  .pairs {
    width: 40%;
  }
}
